.env
.env.prod
.env.*
*.env

*.sqlite3
postgres_data/
postgres_data_dev/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
ENV/
env/

static/
staticfiles/
media/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
crash.dump
