<nav class="navbar">
    <div class="container navbar-container">
        <a href="/" class="logo">
            RepoMarketplace
        </a>
        <button class="menu-toggle" id="menuToggle">
            ☰
        </button>
        <div class="nav-links" id="navLinks">
            <a href="{% url 'products:list' %}">Каталог</a>
            <a href="{% url 'orders:cart' %}">Корзина</a>

            <a href="{% url 'orders:orders' %}" class="js-auth-link" style="display: none;">
                Заказы
            </a>

            <a href="{% url 'products:add' %}" class="js-auth-link nav-btn nav-btn-sell" style="display: none;">
                Продать скрипт
            </a>

            <a href="#" id="js-logout-btn" class="js-auth-link nav-btn nav-btn-logout" style="display: none;">
                Выход
            </a>

            <a href="{% url 'users:login' %}" class="js-guest-link" style="display: none;">
                Войти
            </a>
            <a href="{% url 'users:register' %}" class="btn-primary js-guest-link" style="display: none;">
                Регистрация
            </a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const isLoggedIn = !!localStorage.getItem('accessToken');

        const authLinks = document.querySelectorAll('.js-auth-link');
        const guestLinks = document.querySelectorAll('.js-guest-link');

        if (isLoggedIn) {
            authLinks.forEach(link => link.style.display = 'block');
            guestLinks.forEach(link => link.style.display = 'none');
        } else {
            authLinks.forEach(link => link.style.display = 'none');
            guestLinks.forEach(link => {
                if (link.classList.contains('btn-primary')) {
                    link.style.display = 'inline-flex';
                } else {
                    link.style.display = 'block';
                }
            });
        }

        const menuToggle = document.getElementById('menuToggle');
        const navLinks = document.getElementById('navLinks');
        if (menuToggle && navLinks) {
            menuToggle.addEventListener('click', () => {
                navLinks.classList.toggle('active');
            });
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const logoutBtn = document.getElementById('js-logout-btn');

        if (logoutBtn) {
            logoutBtn.addEventListener('click', async (e) => {
                e.preventDefault();

                localStorage.removeItem('accessToken');
                localStorage.removeItem('refreshToken');

                window.location.reload()
            });
        }
    });
</script>
