{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/orders-cart.css' %}?v=1">
{% endblock %}


{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <h1>Ваша корзина</h1>
    <a href="{% url 'products:list' %}" class="back-link">← Вернуться к покупкам</a>

    <div id="product-holder">
        <p>Загрузка корзины...</p>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}