{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
    <section class="products-header"><div><h1>Сообщения</h1><p class="products-count">Ваши последние диалоги</p></div></section>

    <section class="orders-list">
    {% if dialogs %}
        {% for dialog in dialogs %}
            <article class="card">
                <h3>
                    <a href="{% url 'marketplace:message_conversation' dialog.user.pk %}">{{ dialog.user }}</a>
                </h3>
                <p>{{ dialog.last_message.text|truncatechars:100 }}</p>
                <small>{{ dialog.last_message.created_at|date:"d.m.Y H:i" }}</small>
            </article>
        {% endfor %}
    {% else %}
        <p>У вас пока нет сообщений.</p>
    {% endif %}
    </section>
{% endblock %}
